@-webkit-keyframes go-back {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes go-back {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  50% {
    transform: scale(1.03);
    filter: brightness(150%);
  }
  100% {
    transform: scale(1);
    filter: brightness(100%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  50% {
    transform: scale(1.03);
    filter: brightness(150%);
  }
  100% {
    transform: scale(1);
    filter: brightness(100%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url(../images/bg-curvy-desktop.svg) no-repeat;
  background-position-y: 790px;
  background-size: 100% 52vh;
  background-color: hsl(217deg, 28%, 15%);
}
body header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 100px;
}
body header .image {
  width: 100%;
  -webkit-animation: go-back 2s;
          animation: go-back 2s;
}
body header nav {
  width: 100%;
  max-width: 305px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav .header-ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: hsla(0deg, 0%, 100%, 0.726);
}
body header nav .header-ul a {
  color: hsla(0deg, 0%, 100%, 0.726);
  text-decoration: none;
}
body header nav .header-ul a:hover {
  text-decoration: underline;
}
body header nav .header-ul a .header-li {
  width: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  font-family: "Raleway", sans-serif;
}
body header nav .header-ul a .header-li:hover {
  color: white;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
body main .main-first-img {
  width: 100%;
  max-width: 750px;
  margin-bottom: 40px;
}
body main h1 {
  font-size: 41px;
  width: 100%;
  max-width: 850px;
  text-align: center;
  color: rgba(255, 255, 255, 0.966);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 35px;
}
body main .main-first-p {
  width: 100%;
  max-width: 600px;
  color: hsla(0deg, 0%, 100%, 0.726);
  font-size: 23px;
  text-align: center;
  margin-bottom: 20px;
}
body main .main-first-btn {
  width: 100%;
  max-width: 270px;
  height: 48px;
  background-image: linear-gradient(to right, hsl(176deg, 68%, 64%), hsl(198deg, 60%, 50%));
  border: none;
  border-radius: 28px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 100px;
  font-family: "Raleway", sans-serif;
  transition: 0.4s;
  cursor: pointer;
}
body main .main-first-btn:hover {
  transform: scale(1.03);
  color: hsl(218deg, 28%, 13%);
}
body main .item-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: hsl(218deg, 28%, 13%);
  gap: 80px 0;
}
body main .item-grid .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .item-grid .item h3 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 7px;
  transition: 0.4s;
}
body main .item-grid .item h3:hover {
  color: hsl(176deg, 68%, 64%);
}
body main .item-grid .item .item-text {
  color: hsla(0deg, 0%, 100%, 0.726);
  text-align: center;
  width: 100%;
  max-width: 375px;
  font-size: 18px;
}
body main .item-grid .item img {
  margin-bottom: 20px;
}
body main .item-grid .item img:hover {
  -webkit-animation: pulse 1s ease-in-out;
          animation: pulse 1s ease-in-out;
}
body main .article {
  width: 100%;
  background-color: hsl(218deg, 28%, 13%);
  display: flex;
}
body main .article .article-text {
  width: 100%;
  padding: 100px;
}
body main .article .article-text h2 {
  width: 100%;
  max-width: 345px;
  font-size: 42px;
  color: rgba(255, 255, 255, 0.966);
  margin-bottom: 20px;
  transition: 0.3s;
}
body main .article .article-text h2:hover {
  color: hsl(176deg, 68%, 64%);
}
body main .article .article-text .article-text-p {
  width: 100%;
  margin-bottom: 18px;
  color: hsla(0deg, 0%, 100%, 0.726);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 25px;
}
body main .article .article-text .git {
  color: hsl(176deg, 68%, 64%);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
  cursor: pointer;
}
body main .article .article-text .git:hover {
  color: white;
}
body main .article .article-text .git .arrow {
  width: 20px;
  position: absolute;
  margin-left: 4px;
}
body main .article .stay {
  width: 100%;
  max-width: 600px;
  margin-left: 70px;
  margin-top: 30px;
}
body main .perfil {
  width: 100%;
  background: url(../images/bg-quotes.png) no-repeat;
  background-position-x: 80px;
  background-position-y: 60px;
  background-color: hsl(218deg, 28%, 13%);
  display: flex;
  justify-content: space-between;
  padding: 95px;
}
body main .perfil .perfil-box {
  width: 100%;
  max-width: 400px;
  height: 205px;
  background-color: hsl(217deg, 28%, 15%);
  padding: 25px;
  box-shadow: 0px 0px 15px 5px rgba(36, 36, 36, 0.2);
  border-radius: 3px;
  transition: 0.4s;
}
body main .perfil .perfil-box:hover {
  transform: scale(1.05);
}
body main .perfil .perfil-box .perfil-text {
  width: 100%;
  max-width: 320px;
  color: hsla(0deg, 0%, 100%, 0.726);
  font-size: 18px;
  margin-bottom: 25px;
}
body main .perfil .perfil-box .perfil-stats {
  width: 100%;
  max-width: 210px;
  display: flex;
  justify-content: space-between;
}
body main .perfil .perfil-box .perfil-stats .perfil-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .perfil .perfil-box .perfil-stats .perfil-img .perfil-profile {
  width: 30px;
  border-radius: 50%;
  transition: 0.4s;
}
body main .perfil .perfil-box .perfil-stats .perfil-img .perfil-profile:hover {
  transform: scale(1.1);
}
body main .perfil .perfil-box .perfil-stats .perfil-name {
  margin-left: 10px;
}
body main .perfil .perfil-box .perfil-stats .perfil-name h4 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.966);
  transition: 0.4s;
}
body main .perfil .perfil-box .perfil-stats .perfil-name h4:hover {
  color: hsl(176deg, 68%, 64%);
}
body main .perfil .perfil-box .perfil-stats .perfil-name .founder {
  color: hsla(0deg, 0%, 100%, 0.726);
}
body main .email-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(218deg, 28%, 13%);
}
body main .email-box .email-contend {
  width: 100%;
  max-width: 900px;
  height: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(27, 35, 48);
  border-radius: 8px;
  box-shadow: 0px 0px 15px 5px rgba(36, 36, 36, 0.4);
  margin-bottom: -115px;
}
body main .email-box .email-contend h5 {
  font-family: "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.966);
  font-size: 35px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 30px;
  transition: 0.4s;
}
body main .email-box .email-contend h5:hover {
  color: hsl(176deg, 68%, 64%);
}
body main .email-box .email-contend .email-text {
  font-family: "Raleway", sans-serif;
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-size: 18px;
  color: hsla(0deg, 0%, 100%, 0.726);
  margin-bottom: 40px;
  opacity: 0.6;
}
body main form {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
body main form .text-input {
  width: 100%;
  max-width: 575px;
  height: 40px;
  padding: 18px;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  color: black;
}
body main form .email-input {
  width: 100%;
  max-width: 200px;
  height: 40px;
  background-color: hsl(176deg, 68%, 64%);
  border: none;
  border-radius: 18px;
  color: white;
  font-size: 15px;
  transition: 0.4s;
}
body main form .email-input:hover {
  transform: scale(1.02);
  color: black;
  opacity: 0.8;
}
body main span {
  opacity: 0;
  width: 100%;
  max-width: 775px;
  color: hsl(0deg, 100%, 63%);
  font-family: "Raleway", sans-serif;
  -webkit-animation: go-back 0.6s;
          animation: go-back 0.6s;
}
body footer {
  width: 100%;
  padding: 195px;
  background-color: hsl(216deg, 53%, 9%);
}
body footer .itens-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
body footer .itens-grid .primeiro {
  display: flex;
}
body footer .itens-grid .primeiro .location-img {
  width: 25px;
  height: 25px;
}
body footer .itens-grid .primeiro .location {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  line-height: 21px;
}
body footer .itens-grid .segundo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body footer .itens-grid .segundo .phone {
  width: 79%;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 22px;
  font-size: 20px;
}
body footer .itens-grid .segundo .phone-img {
  width: 25px;
  height: 25px;
}
body footer .itens-grid .terceiro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 33px;
  font-size: 20px;
}
body footer .itens-grid .terceiro .footer-a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}
body footer .itens-grid .terceiro .footer-a:hover {
  color: hsl(176deg, 68%, 64%);
}
body footer .itens-grid .quarto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 34px;
  font-size: 20px;
}
body footer .itens-grid .quarto .footer-a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}
body footer .itens-grid .quarto .footer-a:hover {
  color: hsl(176deg, 68%, 64%);
}
body footer .itens-grid .quinto {
  display: flex;
  justify-content: space-between;
  width: 55%;
}
body footer .itens-grid .quinto .redes {
  width: 35px;
  height: 35px;
  filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(108%) contrast(107%);
  transition: 0.4s;
  cursor: pointer;
}
body footer .itens-grid .quinto .redes:hover {
  filter: brightness(0) saturate(100%) invert(98%) sepia(66%) saturate(6998%) hue-rotate(148deg) brightness(98%) contrast(80%);
}/*# sourceMappingURL=main.css.map */