$Dark-Blue-intro: hsl(217, 28%, 15%);
$Dark-Blue-main: hsl(218, 28%, 13%);
$Dark-Blue-footer: hsl(216, 53%, 9%);
$Dark-Blue-testimonials: hsl(219, 30%, 18%);

//Accent

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$Light-Red: hsl(0, 100%, 63%);

//Neutral

$White: hsla(0, 0%, 100%, 0.726);

@mixin raleway {
    font-family: "Raleway", sans-serif;
}
@mixin openSans {
    font-family: "Open Sans", sans-serif;
}

@mixin centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes go-back {
    from {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
      filter: brightness(100%);
    }
    50% {
      transform: scale(1.03);
      filter: brightness(150%);
    }
    100% {
        transform: scale(1);
        filter: brightness(100%);
    }
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}



body{
    width: 100%;
    min-height: 100vh;
    background: url(../images/bg-curvy-desktop.svg) no-repeat;
    background-position-y: 790px;
    background-size: 100% 52vh;
    background-color: $Dark-Blue-intro;
        header{
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 100px;
                .image{
                    width: 100%;
                    animation: go-back 2s;
                }
                nav{
                    width: 100%;
                    max-width: 305px;
                    @include centralizar;
                    .header-ul{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        color: $White;
                           a{
                            color: $White;
                            text-decoration: none;
                                &:hover{
                                    text-decoration: underline;
                                }
                            .header-li{
                                width: 100%;
                                font-size: 20px;
                                text-align: center;
                                cursor: pointer;
                                transition: 0.4s;
                                @include raleway;
                                &:hover{
                                    color: white;
                                }
                            }
                           }
                    }
                }
        }
        main{
            @include centralizar;
            flex-direction: column;
            width: 100%;
                .main-first-img{
                   width: 100%;
                   max-width: 750px;
                   margin-bottom: 40px;
                }
                 h1{
                   font-size: 41px;
                   width: 100%;
                   max-width: 850px;
                   text-align: center;
                   color: rgba(255, 255, 255, 0.966);
                @include raleway;
                   font-weight: 700;
                   margin-bottom: 35px;
                }
                .main-first-p{
                   width: 100%;
                   max-width: 600px;
                   color: $White;
                   font-size: 23px;
                   text-align: center;
                   margin-bottom: 20px;
                }
                .main-first-btn{
                    width: 100%;
                    max-width: 270px;
                    height: 48px;
                    background-image: linear-gradient(to right, $Cyan, $Blue);
                    border: none;
                    border-radius: 28px;
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 100px;
                    @include raleway;
                    transition: 0.4s;
                    cursor: pointer;
                        &:hover{
                            transform:scale(1.03);
                            color: $Dark-Blue-main;
                        }
                }
                .item-grid{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    background-color: $Dark-Blue-main;
                    gap: 80px 0;
                        .item{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                                h3{
                                    color: white;
                                    @include raleway;
                                    font-weight: 600;
                                    font-size: 21px;
                                    margin-bottom: 7px;
                                    transition: 0.4s;
                                        &:hover{
                                            color: $Cyan;
                                        }
                                }
                                .item-text{
                                    color: $White;
                                    text-align: center;
                                    width: 100%;
                                    max-width: 375px;
                                    font-size: 18px;
                                }
                                img{
                                    margin-bottom: 20px;
                                        &:hover{
                                            animation: pulse 1s ease-in-out;
                                        }
                                }
                        }
                }
                .article{
                    width: 100%;
                    background-color: $Dark-Blue-main;
                    display: flex;
                        .article-text{
                            width: 100%;
                            padding: 100px;
                                h2{
                                    width: 100%;
                                    max-width: 345px;
                                    font-size: 42px;
                                    color: rgba(255, 255, 255, 0.966);
                                    margin-bottom: 20px;
                                    transition: 0.3s;
                                        &:hover{
                                            color: $Cyan;
                                        }
                                }
                                .article-text-p{
                                    width: 100%;
                                    margin-bottom: 18px;
                                    color: $White;
                                    font-size: 18px;
                                    @include raleway;
                                    line-height: 25px;
                                }
                                .git{
                                    color: $Cyan;
                                    font-size: 18px;
                                    @include openSans;
                                    transition: 0.3s;
                                    cursor: pointer;
                                        &:hover{
                                            color: white;
                                        }
                                        .arrow{
                                           width: 20px;
                                           position: absolute;
                                           margin-left: 4px;
                                        }
                                }
                        }
                        .stay{
                            width: 100%;
                            max-width: 600px;
                            margin-left: 70px;
                            margin-top: 30px;
                        }
                }
                .perfil{
                    width: 100%;
                    background: url(../images/bg-quotes.png) no-repeat;
                    background-position-x: 80px;
                    background-position-y: 60px;
                    background-color: $Dark-Blue-main;
                    display: flex;
                    justify-content: space-between;
                    padding: 95px;
                        .perfil-box{
                            width: 100%;
                            max-width: 400px;
                            height: 205px;
                            background-color: $Dark-Blue-intro;
                            padding: 25px;
                            box-shadow: 0px 0px 15px 5px rgba(36,36,36,0.20);
                            border-radius: 3px;
                            transition: 0.4s;
                                &:hover{
                                    transform: scale(1.05);
                                }
                                .perfil-text{
                                    width: 100%;
                                    max-width: 320px;
                                    color: $White;
                                    font-size: 18px;
                                    margin-bottom: 25px;
                                }
                                .perfil-stats{
                                    width: 100%;
                                    max-width: 210px;
                                    display: flex;
                                    justify-content: space-between;
                                        .perfil-img{
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            .perfil-profile{
                                                width: 30px;
                                                border-radius: 50%;
                                                transition: 0.4s;
                                                    &:hover{
                                                        transform: scale(1.1);
                                                    }
                                            }
                                        }
                                        .perfil-name{
                                            margin-left: 10px;
                                            h4{
                                                font-size: 20px;
                                                color: rgba(255, 255, 255, 0.966);
                                                transition: 0.4s;
                                                    &:hover{
                                                        color: $Cyan;
                                                    }
                                            }
                                            .founder{
                                                color: $White;
                                            }
                                        }
                                }
                        }
                }
                .email-box{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $Dark-Blue-main;
                        .email-contend{
                            width: 100%;
                            max-width: 900px;
                            height: 290px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            background-color: rgb(27, 35, 48);
                            border-radius: 8px;
                            box-shadow: 0px 0px 15px 5px rgba(36,36,36,0.40);
                            margin-bottom: -115px;
                                h5{
                                    @include raleway;
                                    color: rgba(255, 255, 255, 0.966);
                                    font-size: 35px;
                                    font-weight: 600;
                                    margin-top: 40px;
                                    margin-bottom: 30px;
                                    transition: 0.4s;
                                        &:hover{
                                            color: $Cyan;
                                        }
                                }
                                .email-text{
                                    @include raleway;
                                    width: 100%;
                                    max-width: 700px;
                                    text-align: center;
                                    font-size: 18px;
                                    color: $White;
                                    margin-bottom: 40px;
                                    opacity: 0.6;
                                }
                        }
                }
                form{
                    width: 100%;
                    max-width: 800px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                        .text-input{
                            width: 100%;
                            max-width: 575px;
                            height: 40px;
                            padding: 18px;
                            border: none;
                            border-radius: 18px;
                            font-size: 15px;
                            color: black;
                        }
                        .email-input{
                            width: 100%;
                            max-width: 200px;
                            height: 40px;
                            background-color: $Cyan;
                            border: none;
                            border-radius: 18px;
                            color: white;
                            font-size: 15px;
                            transition: 0.4s;
                                &:hover{
                                    transform: scale(1.02);
                                    color: black;
                                    opacity: 0.8;
                                }
                        }
                }
                span{
                    opacity: 0;
                    width: 100%;
                    max-width: 775px;
                    color: $Light-Red;
                    @include raleway;
                    animation: go-back 0.6s;
                }
        }
        footer{
            width: 100%;
            padding: 195px;
            background-color: $Dark-Blue-footer;
                .itens-grid{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(5,1fr);;
                        .primeiro{
                            display: flex;
                            .location-img{
                                width: 25px;
                                height: 25px;
                            }
                            .location{
                                color: white;
                                margin-left: 10px;
                                font-size: 20px;
                                line-height: 21px;
                            }
                        }
                        .segundo{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                                .phone{
                                    width: 79%;
                                    display: flex;
                                    justify-content: space-between;
                                    color: white;
                                    gap: 22px;
                                    font-size: 20px;
                                }
                                .phone-img{
                                    width: 25px;
                                    height: 25px;
                                }
                        }
                        .terceiro{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: center;
                            line-height: 33px;
                            font-size: 20px;
                                .footer-a{
                                    color: white;
                                    text-decoration: none;
                                    cursor: pointer;
                                    transition: 0.4s;
                                        &:hover{
                                            color: $Cyan;
                                        }
                                }
                        }
                        .quarto{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            line-height: 34px;
                            font-size: 20px;
                                .footer-a{
                                    color: white;
                                    text-decoration: none;
                                    cursor: pointer;
                                    transition: 0.4s;
                                        &:hover{
                                            color: $Cyan;
                                        }
                                }
                        }
                        .quinto{
                            display: flex;
                            justify-content: space-between;
                            width: 55%;
                            .redes{
                                width: 35px;
                                height: 35px;
                                filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(0%) hue-rotate(302deg) brightness(108%) contrast(107%);
                                transition: 0.4s;
                                cursor: pointer;
                                    &:hover{
                                        filter: brightness(0) saturate(100%) invert(98%) sepia(66%) saturate(6998%) hue-rotate(148deg) brightness(98%) contrast(80%);
                                    }
                            }
                        }
                }
        }
}